﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                text missing .....
            </p>
        </div>
    </section>
}
<h3>We need content here:</h3>


<h5>Header line</h5>


    <p>
        example: <a href="http://www.frontiersin.org/human_neuroscience/10.3389/fnhum.2010.00224/abstract">The Intense World 
            Theory – a unifying theory of the neurobiology of autism
            <em>Kamila Markram and Henry Markram</em></a>
    </p>

 



