﻿@{
    ViewBag.Title = "Metrics";
}

<h2>Metrics</h2>

<h3>We have the following about Article Level Metrics (ALM):</h3>


<h5>Javascript embedding of Metrics</h5>
<div>
    <p>
        Impact Story allows embedding of calls to their site as in this example.
        <a href="http://impactstory.org/api-docs">Learn more…</a>
    </p>

    <p>
        example: <a href="http://www.frontiersin.org/human_neuroscience/10.3389/fnhum.2010.00224/abstract">The Intense World 
            Theory – a unifying theory of the neurobiology of autism
            <em>Kamila Markram and Henry Markram</em></a>
    </p>

    <span id="ti-id">doi:10.3389/fnhum.2010.00224</span>
    <div id="ti-data"></div>


    <div class='altmetric-embed' data-badge-type='donut' data-doi="10.3389/fnhum.2010.00224"></div>



</div>
