﻿@model fivebarn.Models.Metrics

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Metrics</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOI)
            @Html.ValidationMessageFor(model => model.DOI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.source)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.source)
            @Html.ValidationMessageFor(model => model.source)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.metricType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.metricType)
            @Html.ValidationMessageFor(model => model.metricType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.startTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.startTime)
            @Html.ValidationMessageFor(model => model.startTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.duration)
            @Html.ValidationMessageFor(model => model.duration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.counter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.counter)
            @Html.ValidationMessageFor(model => model.counter)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
