﻿@model fivebarn.Models.Metrics

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Metrics</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.source)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.source)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.metricType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.metricType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.counter)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.counter)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
