﻿@model fivebarn.Models.Metrics

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Metrics</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.source)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.source)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.metricType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.metricType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.duration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.counter)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.counter)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MetricsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
